[Unit]
Description=Adjust L22i-40 Monitor Brightness
After=resume.target

[Service]
Type=oneshot
ExecStart=/usr/bin/BrightStay.sh
User=root

[Install]
WantedBy=resume.target
